:root {
  --text-color-white: white;
  --text-color-dark: #333;
  --main-color: #680958;
  --secondary-color: #957186;
  --bg-white-color: #f9f4f9;;
}

body, html {
    position: relative;
    height: 100%;
}
p {
    line-height: 1.5;
}
hr {
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: var(--main-color);
}
a {
    color: var(--main-color);
}
a:hover {
    color: var(--secondary-color);
}

/*NAVBAR*/
.navbar-default {
    font-style: Tahoma;
    background-color: var(--main-color);
    border-color: rgba(41, 50, 65, 0.1);
}
.navbar-header .navbar-brand {
    letter-spacing: -0.03em;
    font-size: 24px;
    font-style: Tahoma;
    font-weight: 600;
    font-variant: small-caps;
    color: var(--text-color-white);
}
.navbar-default .navbar-header .navbar-toggle{ /*menu icon*/
    background-color: var(--main-color);
}
.navbar-default .navbar-header .navbar-toggle:hover,
.navbar-default .navbar-header .navbar-toggle:focus { /*menu icon on hover/focus*/
    background-color: var(white);
}
.navbar-default .navbar-header .navbar-toggle .icon-bar, /*menu bars*/
.navbar-default .navbar-header .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-header .navbar-toggle:focus .icon-bar{ /*menu bars*/
    background-color: var(--text-color-white);
}
.navbar-default .navbar-header .navbar-brand .navbar-brand-text:hover,
.navbar-default .navbar-header .navbar-brand .navbar-brand-text:focus,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  background-color: white;
  color: var(--main-color);
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color-white);
}
.navbar-default .nav > .active > a,
.navbar-default .nav > .active > a:hover,
.navbar-default .nav > .active > a:focus {
    background-color:var(--secondary-color);
    color: var(--text-color-white);
}

@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
    }
    .navbar-header .navbar-brand .navbar-brand-text,
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
      color: var(--text-color-dark);
    }
    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:focus:hover,
    .navbar-default .navbar-header .navbar-brand .navbar-brand-text:hover,
    .navbar-default .navbar-header .navbar-brand .navbar-brand-text:focus {
      background-color: white;
      color: var(--text-color-dark);
    }
    .navbar.scrolled .nav > li > a:hover,
    .navbar.scrolled .nav > li > a:focus:hover,
    .navbar-default.scrolled .navbar-header .navbar-brand .navbar-brand-text:hover,
    .navbar-default.scrolled .navbar-header .navbar-brand .navbar-brand-text:focus {
      background-color: white;
      color: var(--main-color);
    }
    .navbar.scrolled {
        background-color: var(--main-color);
    }
    .navbar.scrolled .nav > li > a,
    .navbar.scrolled .nav > li > a:focus,
    .navbar.scrolled .navbar-brand .navbar-brand-text  {
        color: var(--text-color-white);
    }
    .navbar.scrolled .nav > li > a:hover,
    .navbar.scrolled .nav > li > a:focus:hover {
      background-color: white;
      color: var(--main-color);
    }
    .navbar-header {
        width: 100%;
    }
    .navbar-header .navbar-brand {
        padding: 25px 90px 26px 90px;
    }
    .navbar-header .navbar-brand .navbar-brand-text {
        letter-spacing: -0.03em;
        padding: 0px 10px 0px 10px;
        font-size: 36px;
        line-height: 0;
        font-variant: small-caps;
    }
    .navbar-nav {
        padding: 0px 0px 0px 75px;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 10px;
    }
}

/*HEADER*/
header {
    background-image: url('../resources/cover2.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .header-content {
    height: 100%;
    width:100%;
    text-align: center;
    display:table;
    margin:0;
}
header .header-row {
    display:table-cell;
    vertical-align:middle
}
header .header-content .header-text {
    color: var(--text-color-white);
    background-color: var(--main-color);
}
header .header-text h1{
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .header-content .header-text {
        margin: 0px 150px 0 150px;
    }
    header .header-text h1{
        font-size: 48px;
    }
}
@media (min-width: 400px) {
    header .header-text h1{
        font-size: 40px;
    }
  header {
    background-image: url('../resources/cover.jpg');
  }
}

/*TEXT*/
.textBox {
    padding-top: 50px;
    padding-bottom: 20px;
}
.textBox h1 {
    letter-spacing: -0.03em;
    font-size: 40px;
    line-height: 0px;
    font-style: Tahoma;
    font-weight: 600;
    font-variant: small-caps;
    color: var(--main-color);
}
@media (min-width: 768px) {
    #About .vertical-align {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
}

/*PORTFOLIO & PRESENTATIONS*/
.slick-slide {
  text-align: center;
}

#portfolio-carousel .thumbnail,
#talks-carousel .thumbnail {
    margin: 5px;
}

.slick-prev:before, .slick-next:before {
    color: var(--main-color);
}
#talks-list {
    display:none;
}
@media (min-width: 800px) {
    #talks-carousel {
        display:none;
    }
    #talks-list {
    display:block;
}
}
/*PUBLICATIONS*/
#Publications li {
    padding-bottom: 16px;
}

#Publications li a{
    color: black;
}

/*CONTACTS*/
@media screen and (max-width: 600px) {
    #Contact .contactImage {
        visibility:hidden
    }
}
@media (max-width: 768px) {
    .contactImage img {
        top: 50%;
        transform: translateY(50%);
    }
}

a.btn-default { height: 44px;  width: 220px; text-align: left; margin: 0 5px 10px 0; position: relative; background-color: #f2f2f2; padding: 10px; transition: all .35s; padding: 0; line-height: 47px; overflow: hidden; }

a.btn-default span { position: relative; z-index: 1; }
a.twitter-btn span { padding-left: 40px; }
a.github-btn span {  padding-left: 40px; }
a.linkedin-btn span {  padding-left: 40px; }
a.fcc-btn span {  padding-left: 30px; }

a.btn-default i { display: block; float: left; position: absolute; top: 10px; font-size: 24px; color: #f2f2f2; position: relative; z-index: 1;  }
a.twitter-btn i {  left: 12px; }
a.github-btn i {  left: 15px; }
a.linkedin-btn i {  left: 15px; }
a.fcc-btn i {  left: 10px; }

a.btn-default:after { content: ''; display: block; width: 50px; height: 50px; position: absolute; top: 0; left: 0; z-index: 0; transition: all .35s; }
a.twitter-btn:after { background-color: #55ACEE; }
a.github-btn:after { background-color: #171515; }
a.linkedin-btn:after { background-color: #0077B5; }
a.fcc-btn:after { background-color: #4B2B0D; }

a.btn-default:hover, a.btn-default:focus { background-color: #f2f2f2; color: #f2f2f2; }
a.btn-default:hover:after { width: 100%; }

/*FOOTER*/
footer {
    background: var(--main-color);
}
footer .tx {
    color: var(--text-color-white);
    margin: 10px 0px 10px 0px;
}
